body {
    margin: 0;
    padding:0;
}

section{
  margin-bottom: 100px;
}

.container {
    display: flex;
    flex-direction: row;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #003049;
    color: rgb(255, 255, 255);
    position: fixed;
    height: 100%;
    overflow: auto;
  }

/* Sidebar links */
.sidebar a {
    display: block;
    color: rgb(196, 196, 196);
    padding: 16px;
    text-decoration: none;
  }
  
  /* Active/current link */
  .sidebar a.active {
    background-color: #bbd0ff;
    color: rgb(0, 0, 0);
  }
  
  /* Links on mouse-over */
  .sidebar a:hover {
    background-color: #780000;
    color: rgb(255, 255, 255);
  }
  
  .item1 {
    margin-right: 200px;
    margin-left: 20px;
    padding: 10px;
    background-color: #d7e3fc;
  }

  .item2 {
    margin-right: 200px;
    margin-left: 20px;
    padding: 10px;
    background-color: #edf2fb;
    color: #780000
  }

  .itema{
    display:flex;
    white-space: nowrap;
    border-radius: 25px;

    width:400px;
    height:100px;
    background-color:#ffffff;
    color: #000000;
    border-color:#000000;
    border-style: dotted;
  }

  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
  }
  
  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
.content {
    flex-grow: 5;
    min-width: 630px;
}